.navbar-brand{
    span{
        color:$color-principal ;
    }
}
nav{
    z-index: 10;
}
header{
   /** height: 5vh;**/
    height: 10vh;
}
.logo{
    font-size: 25px;
}
ul{
    li{
        a{
            position: relative;/**Para la animación**/
            &:after{/**Animación en el menu**/
                content: "";
                width: 0;
                height: 4px;
                background-color: $color-principal;
                position: absolute;
                bottom: 0;
                right: 50%;
                transition: all .5s;
                will-change: width;
            }
            &:hover:after{
                width: 100%;
                right: 0;
            }
        }
    }
}
