.contenedor-hero{
    height: map-get($vhtamano , medio );
}
.texto-main{
    @include alineacion-flex(center);
    flex-direction: column;
    text-align:left;
    align-items:flex-start;
    padding-left: 20px;
    p{
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
.fabricamos{
    font-size: 50px;
}
.img-main{  
   width: 100%;
   @extend .imagen-de-fondo;
}
.boton{
	background-color: $color-principal;
    border:1px solid $borde-boton;
    &:hover{
        background-color:$color-secundario;
        border:1px solid $borde-boton;
    }
    &:active{
        position:relative;
	    top:1px;
    }
}

.separador{
    height: 300px;
    background-color: $color-principal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "cuadro1 cuadro2 cuadro3"
      "cuadro4 cuadro5 cuadro6";
}
.cuadro1 { 
    grid-area: cuadro1;
    color: white;
    text-align: center;
    font-size: 75px;
    }
  .cuadro1 p{
        margin: 5px auto;
    }
  .cuadro2 { 
    grid-area: cuadro2;
    color: white;
    text-align: center;
    font-size: 75px;
    }
  .cuadro2 p{
        margin: 5px auto;
    } 
  .cuadro3 {
     grid-area: cuadro3;
     color: white;
     text-align: center;
     font-size: 75px;
    }
  .cuadro3 p{
        margin: 5px auto;
    }
  .cuadro4 {
     grid-area: cuadro4;
     color: white;
     text-align: center;
     font-size: 40px;
    }
  .cuadro4 p{
        margin: 5px auto;
    }
  .cuadro5 {
     grid-area: cuadro5; 
     color: white;
     text-align: center;
     font-size: 40px;
    }
  .cuadro5 p{
        margin: 5px auto;
    }
  .cuadro6 {
     grid-area: cuadro6; 
     color: white;
     text-align: center;
     font-size: 40px;
    }
  .cuadro6 p{
        margin: 5px auto;
    }
#nuestros__modelos{
    height: 10vh;
}
@media screen and (max-width:991px){
    .img-main{
        display: none;
    }
    .texto-hero{
        @include alineacion-flex(center);
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../imagenes/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .texto-main{
        color:whitesmoke
    }
    .separador{
        height: 400px;
    }
    .cuadro1{
        font-size: 75px;
    }
    .cuadro2{
        font-size: 75px;
    }
    .cuadro3{
        font-size: 75px;
    }
}
@media screen and (max-width: 961px){
    .separador{
        height: 300px;
        grid-template-rows: 100px 1fr;
    }
    .cuadro1{
        font-size: 60px;
    }
    .cuadro2{
        font-size: 60px;
    }
    .cuadro3{
        font-size: 60px;
    }
  }
  @media screen and (max-width: 906px){

    .separador{
        height: 300px;
        grid-template-rows: 100px 1fr;
    }
    .cuadro1{
        font-size: 50px;
    }
    .cuadro2{
        font-size: 50px;
    }
    .cuadro3{
        font-size: 50px;
    }
  }
  @media screen and (max-width:768px){
    .separador {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
          "cuadro1 cuadro4"
          "cuadro2 cuadro5"
          "cuadro3 cuadro6";
      }
      
      .cuadro1 { grid-area: cuadro1; }
      
      .cuadro2 { grid-area: cuadro2; }
      
      .cuadro3 { grid-area: cuadro3; }
      
      .cuadro4 { grid-area: cuadro4; }
      
      .cuadro5 { grid-area: cuadro5; }
      
      .cuadro6 { grid-area: cuadro6; }
      
  }  
  @media screen and (max-width:576px){
    .separador {  
        height: 600px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "cuadro1"
        "cuadro2"
        "cuadro3"
        "cuadro4"
        "cuadro5"
        "cuadro6";
      }
      .cuadro1 { 
        grid-area: cuadro1;
        text-align: center;
        font-size: 60px;
    }
    .cuadro4 { grid-area: cuadro2;
        text-align: center;
        font-size: 30px;
    }
    .cuadro2 { grid-area: cuadro3;
        text-align: center;
        font-size: 60px; 
    }
    .cuadro5 { grid-area: cuadro4; 
            text-align: center;
            font-size: 30px;
    }
    .cuadro3 { grid-area: cuadro5;
        text-align: center;
        font-size: 60px;
     }
    .cuadro6 { grid-area: cuadro6;
        text-align: center;
        font-size: 30px;
    } 
  }
 