/**PAGINA SOBRE NOSOTROS**/
.bodysn{
    min-height: 100vh;
}
/**
.main-sobrenosotros{
    height: map-get($vhtamano , medio );
}
**/
.contenido{
   height: 80%;
   width: 80%;
    .texto-sn{
        max-width: 550px;
        .p{
            padding: 10px;
          }
             }
}
.imagen-de-equipo{
    background-image: url(../imagenes/equipo.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    border-radius: 40px;    

}
/**PAGINA SERVICIOS**/
.bodyser{
    min-height: 100vh;
}
/**
.main-servicios{
    height: map-get($vhtamano , medio );
}
**/

/**PAGINA RECURSOS**/
.bodyrec{
    min-height: 100vh;
}
/*.recursos-main{
    height: map-get($vhtamano , xgrande );
    
}*/
.recursos {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "manual1 guia1 firmware1"
      "manual2 guia2 firmware2"
      "manual3 guia3 firmware3";
  }
  
  .manual1 { 
             grid-area: manual1;
            }
  
  .guia1 {   
             grid-area: guia1;
            }
  
  .firmware1 {
             grid-area: firmware1;
            }
  
  .manual2 { 
             grid-area: manual2;
            }
  
  .guia2 { 
             grid-area: guia2;
            }
  
  .firmware2 {
             grid-area: firmware2;
            }
  
  .manual3 { 
             grid-area: manual3;
            }
  
  .guia3 { 
             grid-area: guia3;
            }
  
  .firmware3 {
             grid-area: firmware3;
            }
.carta{
                display: flex;
                margin: 10px auto;
                width: 310px;
                height: 150px;
                border: 2px solid black;
                border-radius: 10px;
            }
.imagen{
                width: 145px;
                height: 100%;
            }
img{
                width: 100%;
                height: 100%; 
            }
// .carta .texto h3{
//                 margin-top: 10px;
//             }
.btnDescarga{
    background-color: #6e45c7;
    color: white;
    width: 90px;
    border: 1px solid #5a12e0;
    border-radius: 5px;
}
.btnDescarga:hover{
    background-color: #500ccf;
    border: 1px solid #5a12e0;
}

@media screen and (max-width:991px){
    .carta{
        flex-direction: column;
        width: 190px;
        height: 300px;
    }
    .imagen{
        width: 145px;
        height: 50%;
        margin-left: 24px;
    }
    .texto{
        height: 25%;
        margin: 0 auto;
    }
    // .carta .texto h3{
    //     margin-top: 5px;
    // }
}
@media screen and (max-width:599px){
    .main-servicios{
        height: map-get($vhtamano , grande );
    }
}

@media screen and (max-width:576px){
    .recursos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "manual1"
          "guia1"
          "firmware1"
          "manual2"
          "guia2"
          "firmware2"
          "manual3"
          "guia3"
          "firmware3";
      }
}




