/**PAGINA SOBRE NOSOTROS**/
.main-sobrenosotros{
    height: map-get($vhtamano , medio );
}
/**PAGINA SERVICIOS**/
.main-servicios{
    height: map-get($vhtamano , medio );
}
/**PAGINA RECURSOS**/
.recursos-main{
    height: map-get($vhtamano , xgrande );
    
}
@media screen and (max-width:599px){
    .main-servicios{
        height: map-get($vhtamano , grande );
    }
}
