$color-principal:#6e45c7;
$color-secundario:#500ccf;
$borde-boton:#5a12e0;
/**MAP**/
$vhtamano:("medio":90vh,"grande":100vh,"xgrande":120vh);
/**MIXIN**/
@mixin alineacion-flex ($jcontent) {
    display: flex;
    justify-content: $jcontent;
    }
/**EXTEND**/
.imagen-de-fondo{
    background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
   )
   ,url(../imagenes/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}